body {
    width:1100px;
    margin:auto;
    font-family:Sans-serif;
}

#blocks {
    width:1100px;
    height:600px;
    margin:5px;
    border:1px solid #aaa;
}

a {
    color:#c00;
    font-size:12px;
}

a:hover {
    color:black;
}
