body {
    width:80%;
    margin:auto;
    font-family:Sans-serif;
}

#blocks {
    width:100%;
    height:600px;
    margin:5px;
    border:1px solid #aaa;
}

a {
    color:#c00;
    font-size:12px;
}

a:hover {
    color:black;
}

/**
 * Extra CSS
 */
.blocks_js_editor .commentblock {
    background-color:#ffe6aa;
    color:#571b00;
    font-style:italic;
}

.blocks_js_editor .commentblock .blockTitle {
    background-color:#f4c659;
}

.blocks_js_editor .menu_icon_type_Comment {
    background-image:url('gfx/comment.gif');
}

.blocks_js_editor .menu_icon_family_Time {
    background-image:url('gfx/time.png');
}

.blocks_js_editor .menu_icon_family_Output {
    background-image:url('gfx/output.png');
}

.blocks_js_editor .menu_icon_family_Math {
    background-image:url('gfx/math.png');
}

.blocks_js_editor .menu_icon_export {
    background-image:url('gfx/export.png');
}
