* {
    padding:0;
    margin:0;
}

.blocks_js_editor {
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
}

.blocks_js_editor canvas {
    position:absolute;
    z-index:-1;
    background-color:white;
}

.blocks_js_editor .blocks {
    width:100%;
    height:100%;
    overflow:hidden;
}

/**
 * Menu bar
 */

.blocks_js_editor .menubar {
    width:100%;
    height:30px;
    z-index:1;
}

.blocks_js_editor .contextmenu,
.blocks_js_editor .childs {
    width:120px;
    background-color:white;
    padding:0px;
    border:1px solid #aaa;
    border-radius:2px;
    position:absolute;
    display:none;
    float:left;
    z-index:99;
}

.blocks_js_editor .menubar .add span {
    color:green;
}

.blocks_js_editor .contextmenu .types {
    background-color:white;
    margin-top:-1px;
}

.blocks_js_editor .contextmenu .type {
    cursor:pointer;
}

.blocks_js_editor .contextmenu .type,
.blocks_js_editor .contextmenu .menuentry,
.blocks_js_editor .contextmenu .family {
    padding:3px;
    border:1px solid #aaa;
    margin-bottom:-1px;
    cursor:pointer;
}

.blocks_js_editor .contextmenu .family:hover,
.blocks_js_editor .contextmenu .menuentry:hover,
.blocks_js_editor .contextmenu .type:hover {
    background-color:#eee;
}

.blocks_js_editor .contextmenu .family .childs {
    margin-left:120px;
    margin-top:-20px;
}

.blocks_js_editor .contextmenu .family .familyName span {
    float:right;
}

.blocks_js_editor .contextmenu .family h3 {
    font-size:100%;
    font-weight:bold;
    cursor:pointer;
}

/**
 * Blocks
 */

.blocks_js_editor .block {
    width:180px;
    position:absolute;
    border:2px solid #aaa;
    padding:1px;
    margin-left:0px;
    margin-top:0px;
    background-color:#fafafa;
    font-size:14px;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
}

.blocks_js_editor .block .description {
    display:none;
    width:200px;
    padding:3px;
    border:1px solid #083776;
    border-radius:5px;
    color:#001531;
    background-color:#91bcf6;
    position:absolute;
    font-weight:normal;
}

.blocks_js_editor .blockTitle {
    font-weight:bold;
    background-color:#eee;
    padding:1px;
    margin:-1px;
    margin-bottom:2px;
    cursor:move;
}

.blocks_js_editor .block .blockicon
{
    width:14px;
    height:14px;
    float:right;
    cursor:pointer;
    opacity:0.5;
}

.blocks_js_editor .block .blockicon:hover {
    opacity:1.0;
}

.blocks_js_editor .block .gear {
    background-image:url('gfx/gear.png');
}

.blocks_js_editor .block .delete {
    background-image:url('gfx/delete.png');
}

.blocks_js_editor .block .info {
    background-image:url('gfx/info.png');
}

.blocks_js_editor .block_selected {
    border:2px solid #0a0;
}

.blocks_js_editor .inputs,
.blocks_js_editor .outputs {
    width:80px;
}

.blocks_js_editor .outputs {
    float:right;
}

.blocks_js_editor .inputs {
    float:left;
}

.blocks_js_editor .input,
.blocks_js_editor .output {
    background-color:#fff;
    font-size:80%;
    padding-top:2px;
    background-repeat:no-repeat;
    cursor:pointer;
    clear:both;
}

.blocks_js_editor .circle {
    width:12px;
    height:12px;
    background-image:url('gfx/circle.png');
    background-size:12px 12px;
}

.blocks_js_editor .circle.io_active {
    background-image:url('gfx/circle_full.png');
}

.blocks_js_editor .input {
    float:left;
}

.blocks_js_editor .input .circle {
    float:left;
    margin:1px;
}

.blocks_js_editor .input .circle.io_active {
    float:left;
    margin:1px;
}

.blocks_js_editor .output {
    float:right;
}

.blocks_js_editor .output .circle {
    float:right;
    margin:1px;
}

.blocks_js_editor .block .parameters {
    display:none;
    position:absolute;
    background-color:white;
    border:2px solid #aaa;
    padding:3px;
    z-index:50;
    width:250px;
    margin-left:-5px;
    margin-top:-5px;
}

.blocks_js_editor .block .parameters input,
.blocks_js_editor .block .parameters textarea {
    width:220px;
}

.blocks_js_editor .block .parameters textarea {
    height:50px;
}
